@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header{
    height: 100%;
    width: 100%;
    padding: 0 8%;
    background: #080808;
    position: relative;

}

.logo{
    width: 140px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left:0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}

.btn{
    background: #ff3d00;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}


/* Slider  */

.banner{
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.slider{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#sliderImg{
    width: 100%;
    height: 100%;
}

.overlay{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}

.content{
    color: #c2c2c2;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    line-height: 1.7;
    text-align: left;
}

.content h2{
    text-align: left;
}


/* Login Page */


.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-image: url('./../img/bg/bg1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.form {
  position: relative;
  z-index: 1;
  background: #00000045;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #e7e7e7;
  font-size: 12px;
}
.form .message a {
  color: #c0c0c0;
  text-decoration: none;
}


